body {
    background-color: #FFBE98;
}

.DespreMine {
    text-align: center;
    color: #FEECE2;
    font-family: "Kurale", serif;
    font-size: 20px;
    text-shadow: 3pt 3pt 10px black;
}

.orar {
    margin-left: auto;
    margin-right: auto;
}

.edu {
    text-align: center;
    color: #FEECE2;
    font-family: "Kurale", serif;
    font-size: 18px;
    text-shadow: 3pt 3pt 10px black;
}

.ul {
    text-align: left;
    display: inline-block;
}

.liceu {
    border: 5px solid #FEECE2;;
}

.cursuri {
    text-align: center;   
    color: #FEECE2;
    font-family: "Kurale", serif;
    font-size: 18px;
    text-shadow: 3pt 3pt 10px black;
}

hr {
    height: 2px;
    background-color: white;
    border: none;
}

.contact {
    text-decoration: none;
    color:#FEECE2;
    font-size: 30px;
    margin-bottom: 100px;
}   